/*
 
  BOX SIZING

*/

html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
legend,
pre,
code,
a,
h1,h2,h3,h4,h5,h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
table, 
td,
th,
tr,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
.border-box {
  box-sizing: border-box;
}


.font-family-inherit {
  font-family: inherit;
}
.regular {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.caps {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.text-decoration-none {
  text-decoration: none;
}
.caps-letter-spacing {
  letter-spacing: 6rem;
}
.line-height-1 {
  line-height: 1;
}
.line-height-2 {
  line-height: 1.125;
}
.line-height-3 {
  line-height: 1.25;
}
.line-height-4 {
  line-height: 1.5;
}
.h1 {
  font-size: 6rem;
}
.h2 {
  font-size: 5rem;
}
.h3 {
  font-size: 3rem;
}
.h4 {
  font-size: 2.25rem;
}
.h5 {
  font-size: 1.5rem;
}
.h6 {
  font-size: 1.25rem;
}
.font-size-inherit {
  font-size: 1rem;
}
.left-align {
  text-align: left;
}
.center {
  text-align: center;
}
.right-align {
  text-align: right;
}
.justify {
  text-align: justify;
}
.truncate, .fit {
  max-width: 100%;
}
.truncate, .hide, .overflow-hidden {
  overflow: hidden;
}
.truncate {
  text-overflow: ellipsis;
}
.truncate, .nowrap {
  white-space: nowrap;
}
.break-word {
  word-wrap: break-word;
}
.not-rounded {
  border-radius: 0;
}
.rounded {
  border-radius: 3px;
}
.rounded-top {
  border-radius: 3px 3px 0 0;
}
.rounded-right {
  border-radius: 0 3px 3px 0;
}
.rounded-bottom {
  border-radius: 0 0 3px 3px;
}
.rounded-left {
  border-radius: 3px 0 0 3px;
}
.circle {
  border-radius: 100%;
}
.clearfix:before, .clearfix:after {
  content: " ";
}
.clearfix:before, .clearfix:after, .table {
  display: table;
}
.clearfix:after {
  clear: both;
}
.display-none {
  display: none;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.dit {
  display: inline-table;
}
.table-cell {
  display: table-cell;
}
.flex-none {
  flex: none;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.items-start {
  flex-align: flex-start;
}
.items-end {
  flex-align: flex-end;
}
.items-center {
  flex-align: center;
}
.items-baseline {
  flex-align: baseline;
}
.items-stretch {
  flex-align: stretch;
}
.self-start {
  align-start: self-start;
}
.self-end {
  align-start: self-end;
}
.self-center {
  align-start: center;
}
.self-baseline {
  align-start: baseline;
}
.self-stretch {
  align-start: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-center {
  align-content: center;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-stretch {
  align-content: stretch;
}
.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-last {
  order: 99999;
}
.left, .col {
  float: left;
}
.right, .col-right {
  float: right;
}
.hide {
  position: fixed !important;
  clip: clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}
.list-reset, .list-style-none {
  list-style: none;
}
.list-reset {
  padding-left: 0;
}
.max-width-1 {
  max-width: 24rem;
}
.max-width-2 {
  max-width: 32rem;
}
.max-width-3 {
  max-width: 48rem;
}
.max-width-4 {
  max-width: 64rem;
}
.mxn-0 {
  margin-left: -.5rem;
  margin-rightt: -.5rem;
}
.mxn-1 {
  margin-left: -1rem;
  margin-rightt: -1rem;
}
.mxn-2 {
  margin-left: -2rem;
  margin-rightt: -2rem;
}
.mxn-3 {
  margin-left: -4rem;
  margin-rightt: -4rem;
}
.overflow-visible {
  overflow: visible;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-auto {
  overflow: auto;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.overflow-y-auto {
  overflow-y: auto;
}
.static {
  position: static;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.p-0 {
  padding: 0;
}
.pt-0, .py-0 {
  padding-top: 0;
}
.py-0, .pb-0 {
  padding-bottom: 0;
}
.pr-0, .px-0 {
  padding-right: 0;
}
.px-0, .pl-0 {
  padding-left: 0;
}
.p-1 {
  padding: .5rem;
}
.pt-1, .py-1 {
  padding-top: .5rem;
}
.py-1, .pb-1 {
  padding-bottom: .5rem;
}
.pr-1, .px-1 {
  padding-right: .5rem;
}
.px-1, .pl-1 {
  padding-left: .5rem;
}
.p-2 {
  padding: 1rem;
}
.pt-2, .py-2 {
  padding-top: 1rem;
}
.py-2, .pb-2 {
  padding-bottom: 1rem;
}
.pr-2, .px-2 {
  padding-right: 1rem;
}
.px-2, .pl-2 {
  padding-left: 1rem;
}
.p-3 {
  padding: 2rem;
}
.pt-3, .py-3 {
  padding-top: 2rem;
}
.py-3, .pb-3 {
  padding-bottom: 2rem;
}
.pr-3, .px-3 {
  padding-right: 2rem;
}
.px-3, .pl-3 {
  padding-left: 2rem;
}
.p-4 {
  padding: 4rem;
}
.pt-4, .py-4 {
  padding-top: 4rem;
}
.py-4, .pb-4 {
  padding-bottom: 4rem;
}
.pr-4, .px-4 {
  padding-right: 4rem;
}
.px-4, .pl-4 {
  padding-left: 4rem;
}
.m-0 {
  margin: 0;
}
.mt-0, .my-0 {
  margin-top: 0;
}
.my-0, .mb-0 {
  margin-bottom: 0;
}
.mr-0, .mx-0 {
  margin-right: 0;
}
.mx-0, .ml-0 {
  margin-left: 0;
}
.m-1 {
  margin: .5rem;
}
.mt-1, .my-1 {
  margin-top: .5rem;
}
.my-1, .mb-1 {
  margin-bottom: .5rem;
}
.mr-1, .mx-1 {
  margin-right: .5rem;
}
.mx-1, .ml-1 {
  margin-left: .5rem;
}
.m-2 {
  margin: 1rem;
}
.mt-2, .my-2 {
  margin-top: 1rem;
}
.my-2, .mb-2 {
  margin-bottom: 1rem;
}
.mr-2, .mx-2 {
  margin-right: 1rem;
}
.mx-2, .ml-2 {
  margin-left: 1rem;
}
.m-3 {
  margin: 2rem;
}
.mt-3, .my-3 {
  margin-top: 2rem;
}
.my-3, .mb-3 {
  margin-bottom: 2rem;
}
.mr-3, .mx-3 {
  margin-right: 2rem;
}
.mx-3, .ml-3 {
  margin-left: 2rem;
}
.m-4 {
  margin: 4rem;
}
.mt-4, .my-4 {
  margin-top: 4rem;
}
.my-4, .mb-4 {
  margin-bottom: 4rem;
}
.mr-4, .mx-4 {
  margin-right: 4rem;
}
.mx-4, .ml-4 {
  margin-left: 4rem;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.v-base {
  vertical-align: baseline;
}
.v-top {
  vertical-align: top;
}
.v-mid {
  vertical-align: middle;
}
.v-btm {
  vertical-align: bottom;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-12 {
  width: 100%;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
@media screen and (min-width: 40em) {
  .flex-none-sm {
    flex: none;
  }
  .flex-sm {
    display: flex;
  }
  .flex-wrap-sm {
    flex-wrap: wrap;
  }
  .flex-column-sm {
    flex-direction: column;
  }
  .items-start-sm {
    flex-align: flex-start;
  }
  .items-end-sm {
    flex-align: flex-end;
  }
  .items-center-sm {
    flex-align: center;
  }
  .items-baseline-sm {
    flex-align: baseline;
  }
  .items-stretch-sm {
    flex-align: stretch;
  }
  .self-start-sm {
    align-start: self-start;
  }
  .self-end-sm {
    align-start: self-end;
  }
  .self-center-sm {
    align-start: center;
  }
  .self-baseline-sm {
    align-start: baseline;
  }
  .self-stretch-sm {
    align-start: stretch;
  }
  .justify-start-sm {
    justify-content: flex-start;
  }
  .justify-end-sm {
    justify-content: flex-end;
  }
  .justify-center-sm {
    justify-content: center;
  }
  .justify-between-sm {
    justify-content: space-between;
  }
  .justify-around-sm {
    justify-content: space-around;
  }
  .content-start-sm {
    align-content: flex-start;
  }
  .content-end-sm {
    align-content: flex-end;
  }
  .content-center-sm {
    align-content: center;
  }
  .content-between-sm {
    align-content: space-between;
  }
  .content-around-sm {
    align-content: space-around;
  }
  .content-stretch-sm {
    align-content: stretch;
  }
  .order-0-sm {
    order: 0;
  }
  .order-1-sm {
    order: 1;
  }
  .order-2-sm {
    order: 2;
  }
  .order-3-sm {
    order: 3;
  }
  .order-last-sm {
    order: 99999;
  }
  .col-1-sm {
    width: 8.333333333333332%;
  }
  .col-2-sm {
    width: 16.666666666666664%;
  }
  .col-3-sm {
    width: 25%;
  }
  .col-4-sm {
    width: 33.33333333333333%;
  }
  .col-5-sm {
    width: 41.66666666666667%;
  }
  .col-6-sm {
    width: 50%;
  }
  .col-7-sm {
    width: 58.333333333333336%;
  }
  .col-8-sm {
    width: 66.66666666666666%;
  }
  .col-9-sm {
    width: 75%;
  }
  .col-10-sm {
    width: 83.33333333333334%;
  }
  .col-11-sm {
    width: 91.66666666666666%;
  }
  .col-12-sm {
    width: 100%;
  }
}
@media screen and (min-width: 52em) {
  .flex-none-md {
    flex: none;
  }
  .flex-md {
    display: flex;
  }
  .flex-wrap-md {
    flex-wrap: wrap;
  }
  .flex-column-md {
    flex-direction: column;
  }
  .items-start-md {
    flex-align: flex-start;
  }
  .items-end-md {
    flex-align: flex-end;
  }
  .items-center-md {
    flex-align: center;
  }
  .items-baseline-md {
    flex-align: baseline;
  }
  .items-stretch-md {
    flex-align: stretch;
  }
  .self-start-md {
    align-start: self-start;
  }
  .self-end-md {
    align-start: self-end;
  }
  .self-center-md {
    align-start: center;
  }
  .self-baseline-md {
    align-start: baseline;
  }
  .self-stretch-md {
    align-start: stretch;
  }
  .justify-start-md {
    justify-content: flex-start;
  }
  .justify-end-md {
    justify-content: flex-end;
  }
  .justify-center-md {
    justify-content: center;
  }
  .justify-between-md {
    justify-content: space-between;
  }
  .justify-around-md {
    justify-content: space-around;
  }
  .content-start-md {
    align-content: flex-start;
  }
  .content-end-md {
    align-content: flex-end;
  }
  .content-center-md {
    align-content: center;
  }
  .content-between-md {
    align-content: space-between;
  }
  .content-around-md {
    align-content: space-around;
  }
  .content-stretch-md {
    align-content: stretch;
  }
  .order-0-md {
    order: 0;
  }
  .order-1-md {
    order: 1;
  }
  .order-2-md {
    order: 2;
  }
  .order-3-md {
    order: 3;
  }
  .order-last-md {
    order: 99999;
  }
  .col-1-md {
    width: 8.333333333333332%;
  }
  .col-2-md {
    width: 16.666666666666664%;
  }
  .col-3-md {
    width: 25%;
  }
  .col-4-md {
    width: 33.33333333333333%;
  }
  .col-5-md {
    width: 41.66666666666667%;
  }
  .col-6-md {
    width: 50%;
  }
  .col-7-md {
    width: 58.333333333333336%;
  }
  .col-8-md {
    width: 66.66666666666666%;
  }
  .col-9-md {
    width: 75%;
  }
  .col-10-md {
    width: 83.33333333333334%;
  }
  .col-11-md {
    width: 91.66666666666666%;
  }
  .col-12-md {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .flex-none-lg {
    flex: none;
  }
  .flex-lg {
    display: flex;
  }
  .flex-wrap-lg {
    flex-wrap: wrap;
  }
  .flex-column-lg {
    flex-direction: column;
  }
  .items-start-lg {
    flex-align: flex-start;
  }
  .items-end-lg {
    flex-align: flex-end;
  }
  .items-center-lg {
    flex-align: center;
  }
  .items-baseline-lg {
    flex-align: baseline;
  }
  .items-stretch-lg {
    flex-align: stretch;
  }
  .self-start-lg {
    align-start: self-start;
  }
  .self-end-lg {
    align-start: self-end;
  }
  .self-center-lg {
    align-start: center;
  }
  .self-baseline-lg {
    align-start: baseline;
  }
  .self-stretch-lg {
    align-start: stretch;
  }
  .justify-start-lg {
    justify-content: flex-start;
  }
  .justify-end-lg {
    justify-content: flex-end;
  }
  .justify-center-lg {
    justify-content: center;
  }
  .justify-between-lg {
    justify-content: space-between;
  }
  .justify-around-lg {
    justify-content: space-around;
  }
  .content-start-lg {
    align-content: flex-start;
  }
  .content-end-lg {
    align-content: flex-end;
  }
  .content-center-lg {
    align-content: center;
  }
  .content-between-lg {
    align-content: space-between;
  }
  .content-around-lg {
    align-content: space-around;
  }
  .content-stretch-lg {
    align-content: stretch;
  }
  .order-0-lg {
    order: 0;
  }
  .order-1-lg {
    order: 1;
  }
  .order-2-lg {
    order: 2;
  }
  .order-3-lg {
    order: 3;
  }
  .order-last-lg {
    order: 99999;
  }
  .col-1-lg {
    width: 8.333333333333332%;
  }
  .col-2-lg {
    width: 16.666666666666664%;
  }
  .col-3-lg {
    width: 25%;
  }
  .col-4-lg {
    width: 33.33333333333333%;
  }
  .col-5-lg {
    width: 41.66666666666667%;
  }
  .col-6-lg {
    width: 50%;
  }
  .col-7-lg {
    width: 58.333333333333336%;
  }
  .col-8-lg {
    width: 66.66666666666666%;
  }
  .col-9-lg {
    width: 75%;
  }
  .col-10-lg {
    width: 83.33333333333334%;
  }
  .col-11-lg {
    width: 91.66666666666666%;
  }
  .col-12-lg {
    width: 100%;
  }
}
